#menu-icon {
  animation: reveal 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.25s backwards;
  object-fit: contain;
  width: 3%;
  position: fixed;
  top: 8%;
  left: 5%;
  z-index: 51;
  overflow-y: scroll;
}
#chat-icon{
  animation: reveal 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.25s backwards;
  object-fit: contain;
  width: 3.8%;
  position: fixed;
  top: 8%;
  right: 13%;
  z-index: 50;
  overflow-y: scroll;
}
#chat{
  animation: reveal 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.25s backwards;
  position: fixed;
  top: 9.5%;
  right: 5%;
  z-index: 50;
  color: rgb(250, 230, 98);
  font-size: 16px;
  border: none;
  background-color: transparent;
}
.menu-bar {
  animation: reveal 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.25s backwards;
  position: fixed;
  border-left: 2px solid rgb(250, 230, 98);
  height: 28px;
  left: 9%;
  top: 9%;
  color: rgb(250, 230, 98);
  padding-left: 15px;
  font-size: large;
  z-index: 50;
  overflow-y: scroll;
  background-color: transparent;
}
#menu{
  border: none;
  font-family: "Poppins", sans-serif;
}


.flyDown{
  z-index: 50;
  max-width: 100%;
  min-height: 100%;
  background:linear-gradient(-45deg,#1F1D3D, #1B0C2D,  #1b2b44, #05021B, rgb(16, 16, 16));
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  position: fixed;
  width: -webkit-fill-available;
  color:white;
}

#menu-line{
  left: 6.4%;
    z-index: 50;
    top: 22%;
}


a.links{
  position: absolute;
  line-height: 84px;
  left: 7%;
  font-size: 40px;
  font-weight: 900;
  color: white;
  text-decoration: none;
  z-index: 50;
}
#About-me-title{
  top: 27%;
}
#Projects-title{
  top: 39%;
}
#Skills-title{
  top: 51%;
}
#Experiences-title{
  top: 63%;
}

#aboutMeDescription{
  color: white;
  z-index: 50;
  top: 32%;
  font-size: 16px;
  left:33%;
  position: absolute;
}
#projectsDescription{
  color: white;
  z-index: 50;
  top: 45%;
  font-size: 16px;
  left:33%;
  position: absolute;
}
#skillsDescription{
  color: white;
  z-index: 50;
  top: 56%;
  font-size: 16px;
  left:33%;
  position: absolute;
}
#experiencessDescription{
  color: white;
  z-index: 50;
  top: 68%;
  font-size: 16px;
  left:33%;
  position: absolute;
}

#dropDown{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 51;

}

#dropDown:hover{
  display: block;
}

#resume-icon{
  position: absolute;
  z-index: 51;
  width: 1.5%;
  left:15%;
  top: 21.5%;
}
#github-icon{
  position: absolute;
  z-index: 51;
  width: 1.7%;
  left:18%;
  top: 21.5%;
}

#linkidin-icon{
  position: absolute;
  z-index: 51;
  width: 1.7%;
  left:21%;
  top: 21.5%;
}
#email-icon{
  position: absolute;
  z-index: 51;
  width: 1.7%;
  left:24%;
  top: 21.5%;
}