.subtitle {
  position: absolute;
  line-height: 84px;
  font-size: 40px;
  font-weight: 900;
  color: white;
}
#mySkills-title {
  left: 10%;
  bottom: -180%;
}
#mySkills-line {
  bottom: -180%;
  left: 10%;
}
#languages {
  position: absolute;
  left: 15%;
  bottom: -190%;
  font-size: 18px;
  color: rgb(250, 230, 98);
  width: 330px;
  white-space: pre-wrap;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

#languages-chart{
  z-index:20;
  bottom: -237%;
  left: 20%;
  position: absolute;
}
#technologies {
  position: absolute;
  right: 5%;
  bottom: -190%;
  font-size: 18px;
  color: rgb(250, 230, 98);
  width: 330px;
  white-space: pre-wrap;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

#technologies-chart{
  z-index:20;
  bottom: -237%;
  right:20%;
  position: absolute;
}

#MySkills{
  position: absolute;
  bottom: -150%;
  width: 630px;
  height: 1px;
}