.subtitle {
  position: absolute;
  line-height: 84px;
  font-size: 40px;
  font-weight: 900;
  color: white;
}

#experiences-title {
  right: 10%;
  bottom: -268%;
}
#experiences-line {
  bottom: -268%;
  right: 10%;
}
#experiences-description {
  bottom: -268%;
  position: absolute;
  margin-bottom: 33px;
  width: 100%;
  text-align: center;
}