.pageWrap {
  background: linear-gradient(-45deg,#6ecddc, #5cc8c6,#38807e);
  animation: gradient 15s ease infinite;
  position: relative;
  min-height: calc(100vh - 60px);
  background-size: 400% 400%;
  max-width: 96%;
  margin: 2%;
  position: fixed;
  width: -webkit-fill-available;
}
.text{
  animation: reveal 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.25s backwards;
  width: fit-content;
  padding: 2px;
}
#title {
  position: absolute;
  color: white;
  line-height: 84px;
  font-size: 74px;
  animation: reveal 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.25s backwards;
  vertical-align: top;
  top: 30%;
  left: 10%;
  display: inline-block;
}
#subText {
  position: absolute;
  left: 10.45%;
  color: white;
  font-size: large;
  top: 55%;
  font-weight: 500;
}
#background-stripes {
  animation: reveal 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.25s backwards;
  object-fit: contain;
  float: right;
  width: 40%;
  top: 32%;
  right: 10%;
  position: absolute;
}
#menu-icon{
  animation: reveal 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.25s backwards;
  object-fit: contain;
  width: 4.3%;
  position: fixed;
  top: 9%;
  left: 6%;
}
#menu-bar{
  position: fixed;
  border-left: 2px solid rgb(250, 230, 98);
  height: 28px;
  left: 12%;
  top: 11%;
  color: rgb(250, 230, 98);
  padding-left: 15px;
  font-size: large;
}
#scroll{
  position: absolute;
  border-left: 2px solid rgb(250, 230, 98);
  height: 120px;
  left: 20%;
  color: rgb(250, 230, 98);
  padding-left: 15px;
  font-size: large;
  bottom: -50%;
}
/*KEYFRAMES */
@keyframes reveal {
  from {
    opacity: 0%;
    transform: translateY(8px);
  }
  to {
    opacity: 100%;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}