#title {
    animation: reveal 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.25s backwards;
    width: fit-content;
    padding: 2px;
    position: absolute;
    color: white;
    line-height: 84px;
    font-size: 74px;
    vertical-align: top;
    top: 30vh;
    left: 14vh;
    display: inline-block;
  }
  #subText {
    animation: reveal 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.25s backwards;
    width: fit-content;
    padding: 2px;
    position: absolute;
    left: 14.5vh;
    color: white;
    font-size: large;
    top: 58vh;
    font-weight: 500;
  }

  @media only screen and (max-width: 750px) {
    #title{
      font-size: 10vw;
      line-height: 12vw;
      top: 35vh;

    }
    #subText{
      font-size: 2.4vw;
      top: 60vh;
    }
  }
  @media only screen and (max-width: 500px) {
    #title{
      font-size: 10vw;
      left: 5vh;
    }
    #subText{
      display: none;
    }
  }